# Python cache
__pycache__/
*.pyc
# all results folders

*/results

# Mypy cache
.mypy_cache/

# PyTorch cache
.pytest_cache/

# MacOS files
.DS_Store

# Logs
*.log
# Image data
*/mnist_data

# ignore structure file
structure.txt